*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    overflow: hidden;
    color: white;
    background-color: black;
    background-attachment: fixed;
    animation: fadeIn 1s ease-in-out;
    
}

header{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    animation: fadeIn 1s ease-in-out;
}

.star{
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    animation: twinkle 2s infinite;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5 );
    
}

@keyframes twinkle{
    0%{
        opacity: 0.5;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0.5;
    }

    
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: sideInFromTop 1s ease-in-out;
    flex-wrap: wrap;
}

.nav-bar img{
    width: 50px;
    animation: rotateIn 1s ease-in-out;
}

.nav-bar .center-nav a, .social a{
    color: white;
    margin-left: 15px;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    animation: fadeInUp 1s ease-in-out;

}

.nav-bar .center-nav a:first-child{
    color: rgb(255, 140, 0);
}

.nav-bar .center-nav a:hover, .social a:hover{
    color: rgb(255, 140, 0);
    box-shadow: 0px 0px 3px rgb(255, 140, 0);

}

.nav-bar .center-nav a{
    position: relative;
    text-decoration: none;
}

.nav-bar .center-nav a::before{
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    animation: all 0.3s ease-in-out;
    visibility: hidden;
    background-color: rgb(255, 140, 0);
}

.nav-bar .center-nav a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

.text{
    position: relative;
    top: 10rem;
    left: 11rem;
    letter-spacing: 1px;
    animation: fadeInUp 1s ease-in-out;
}

h2{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    animation: fadeInUp 1s ease-in-out ;
    margin-left: -271px;
    top: 10px;
    position: relative;
    color: rgb(142, 38, 207);
    
}

h2 strong{
    color: white;
}

     

.text h1{
    font-weight: bold;
    font-size: 4rem;
    font-family: sans-serif;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease-in-out ;
    
}

.button{
    color: white;
    border: 2px solid;
    position: relative;
    top: 3rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 14px;
    border-radius: 6px;
    transition: all 0.5s ease;
    margin-right: 10px;
    animation: fadeInUp 1s ease-in-out 0.5s backwards;
}

.text .button:hover{
    background-color: rgb(255, 140, 0);
    box-shadow:0 0 10px 2px rgb(255, 140, 0);
}

.text p{
    width: 46%;
    animation: fadeInUp 1s ease-in-out 0.5s backwards;

}

.items{
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 20px;
    animation: sideInFrontBottom 1s ease-in-out 0.5s backwards;
}

.items img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    object-fit: cover;
    border: 2px solid white;
    transition: transform 0.3s ease;
    animation: fadeInUp 1s ease-in-out 2s backwards;  
}

.items img:hover{
    transform: scaleX(1.1);
    box-shadow: 0px 0px 30px rgba(255, 255,255,0.8 );
}

.item-toggle img{
    position: absolute;
    width: 36%;
    height: 74%;
    right: 47px;
    top: 7rem;
    filter: drop-shadow(63px 9px 392px);
    animation: fadeInUp 1s ease-in-out 2.5s backwards;

}

.items,
.item-toggle{
    display: flex;
    flex-wrap: wrap;
}

.item-toggle img{
    display: none;
    flex-wrap: wrap;
}

.item-toggle img,active{
    display: block;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop{



    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFrontBottom{
    
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes rotateIn{
    from{
        transform: rotate3d(0, 0, 1,-200deg);
        opacity: 0;
    }

    to{
        transform: none;
        opacity: 1;
    }
}